
# Environnements virtuels
venv/
__pycache__/

# Fichiers de configuration
.env

# Fichiers de logs
*.log

# Node modules
node_modules/

# Build React
frontend/build/

# Fichiers système
.DS_Store
Thumbs.db
